.privacyPolicy {
  font-family: "Quicksand", sans-serif;
  color: #495057;
  max-width: 120rem;
  width: 96%;
  margin: 3rem auto;

  > h1 {
    margin: 2rem auto;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 800;
    color: #3bb77e;
  }

  > h2 {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 600;
    color: #3bb77e;
  }

  > p {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }
}
